.dayComponent {
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  width: 325px;
  display: inline-block;
  /* height: 500px; */
  margin: 20px;
  padding: 10px;
  /* display: grid;
  justify-items: center; */
}
.tasks {
  overflow: scroll;
  padding: 10px;
  height: 75%;
}

.dayTitle {
  font-size: 1.5em;
  /* margin-bottom: 20px; */
}

.sleepInput {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  justify-items: start;
  align-items: center;
  /* border: 1px solid white; */
  padding: 10px;
}

/* button {
  background-color: transparent;
  outline-style: none;
  border-radius: 5px;
  outline-style: none;
  color: white;
  height: 30px;
  width: 30px;
  margin: 20px;
} */

.balance {
  font-size: 1.5em;
  display: inline-block;
}
